<launch>
    <!-- Republish image streams as compressed streams -->

    <!-- T265 Raw Stream -->
    <node pkg="image_transport" type="republish" name="republish_fisheye" respawn="true" output="screen" args="raw in:=/camera/fisheye1/image_raw compressed out:=/camera/fisheye1/image_raw"/>
    
    <!-- Rectified Stream -->
    <node pkg="image_transport" type="republish" name="republish_rectified" respawn="true" output="screen" args="raw in:=/camera/fisheye1/rect/image compressed out:=/camera/fisheye1/rect/image"/>
    
    <!-- AprilTags Stream -->
    <node pkg="image_transport" type="republish" name="republish_apriltags" respawn="true" output="screen" args="raw in:=/tag_detections_image compressed out:=/tag_detections_image"/>
    
    <!-- Disparity Stream -->
    <node pkg="image_transport" type="republish" name="republish_disparity" respawn="true" output="screen" args="raw in:=/disparity compressed out:=/disparity"/>
</launch>